﻿@{
    ViewData["Title"] = "Avaliador de Segurança de Senha";
}

<div class="row">
    <div class="col">
        <h4>AVALIADOR DE SEGURANÇA DE SENHA</h4>
        <div>
            <form>
                <input type="senha" class="form-control" id="senha" placeholder="Senha">	
            </form>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <span class="badge" id="porcentagem">10%</span>
        <span class="badge" id="complexidade">Muito Curta</span>
    </div>
</div>
